# This is the global.env.example file. It contains environment variables
# used to configure your project globally. Rename this file to global.env
# and replace the placeholder values with your actual values.

DOCKER_VOLUME_ROOT=/mnt/docker-volumes # The path where Docker volumes are stored
DOMAIN=serverly.ca # Your domain name (e.g., example.com)