# This is the global.env.example file. It contains environment variables
# used to configure your project globally. Rename this file to global.env
# and replace the placeholder values with your actual values.

DOCKER_VOLUME_ROOT=/mnt/docker-volumes # The path where Docker volumes are stored
DOMAIN=example.ca # Your domain name (e.g., example.com)
TIMEZONE=America/Vancouver # Set the time zone for the applications; replace with your desired time zone
HOST_IP_ADDRESS=192.168.1.200 # The IP address of your host machine
PUID=1000 # The user ID of the user who will run the Docker containers; replace with your user ID
PGID=1000 # The group ID of the user who will run the Docker containers; replace with your group ID
