# This is a sample WireGuard configuration file
# You should download the configuration file provided by your VPN provider.
# For example, Mullvad VPN users can obtain the file at: https://mullvad.net/en/account/#/wireguard-config/
# Make sure to select IPv4 as the server connection protocol.

[Interface]
PrivateKey = SAMPLE_PRIVATE_KEY # Your device's private key
Address = 10.0.0.2/32,fc00:abcd:abcd:ab01::2/128 # IPv4 and IPv6 addresses assigned to your device
DNS = 10.0.0.1 # DNS server to use for this connection

[Peer]
PublicKey = SAMPLE_PUBLIC_KEY # Public key of the remote peer (server or client)
AllowedIPs = 0.0.0.0/0,::0/0 # IP range to route through the WireGuard tunnel (0.0.0.0/0 and ::0/0 for all IPv4 and IPv6 traffic)
Endpoint = 192.168.1.1:51820 # Remote peer's IP address and listening port
